<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Book Collection {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('create') }}">Add Book</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 My Book Collection</p>
    </footer>
</body>
</html>
